## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
!pip install keras-tuner --upgrade
import keras_tuner as kt


#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

Collecting keras-tuner
  Downloading keras_tuner-1.4.7-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (3.5.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (24.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.32.3)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl.metadata (221 bytes)
Requirement already satisfied: absl-py in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (1.26.4)
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (0.0.8)
Requirement already satisfied: h5py in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (3.12.1)
Requirement already satisfied: optree in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (0.13.1)
Requirement already satisfied: ml-dtypes in /usr/local/lib/python3.10/dist-packages (from keras->keras-tuner) (0.4.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2024.8.30)
Requirement already satisfied: typing-extensions>=4.5.0 in /usr/local/lib/python3.10/dist-packages (from optree->keras->keras-tuner) (4.12.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras->keras-tuner) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->keras->keras-tuner) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->keras->keras-tuner) (0.1.2)
Downloading keras_tuner-1.4.7-py3-none-any.whl (129 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.1/129.1 kB 7.9 MB/s eta 0:00:00
Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.4.7 kt-legacy-1.0.5

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.columns
application_df= application_df.drop(columns="EIN")
application_df= application_df.drop(columns="NAME")

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
value_counts=application_df["APPLICATION_TYPE"].value_counts()
value_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff=500
application_types_to_replace = value_counts[value_counts < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
value_counts_classification=application_df["CLASSIFICATION"].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
value_counts_classification.head(10)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff=700
classifications_to_replace= value_counts_classification[value_counts_classification < cutoff].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [10]:

# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()


# Display the transformed DataFrame
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 45 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  bool
 4   APPLICATION_TYPE_T10          34299 non-null  bool
 5   APPLICATION_TYPE_T19          34299 non-null  bool
 6   APPLICATION_TYPE_T3           34299 non-null  bool
 7   APPLICATION_TYPE_T4           34299 non-null  bool
 8   APPLICATION_TYPE_T5           34299 non-null  bool
 9   APPLICATION_TYPE_T6           34299 non-null  bool
 10  APPLICATION_TYPE_T7           34299 non-null  bool
 11  APPLICATION_TYPE_T8           34299 non-null  bool
 12  AFFILIATION_CompanySponsored  34299 non-null  bool
 13  AFFILIATION_Family/Parent     34299 non-null  bool
 14  AFFILIATION_Independent       34299 non-null  bool
 15  AFFILIATION_National          34299 non-null  bool
 16  AFFILIATION_Other             34299 non-null  bool
 17  AFFILIATION_Regional          34299 non-null  bool
 18  CLASSIFICATION_C1000          34299 non-null  bool
 19  CLASSIFICATION_C1200          34299 non-null  bool
 20  CLASSIFICATION_C2000          34299 non-null  bool
 21  CLASSIFICATION_C2100          34299 non-null  bool
 22  CLASSIFICATION_C3000          34299 non-null  bool
 23  CLASSIFICATION_C7000          34299 non-null  bool
 24  CLASSIFICATION_Other          34299 non-null  bool
 25  USE_CASE_CommunityServ        34299 non-null  bool
 26  USE_CASE_Heathcare            34299 non-null  bool
 27  USE_CASE_Other                34299 non-null  bool
 28  USE_CASE_Preservation         34299 non-null  bool
 29  USE_CASE_ProductDev           34299 non-null  bool
 30  ORGANIZATION_Association      34299 non-null  bool
 31  ORGANIZATION_Co-operative     34299 non-null  bool
 32  ORGANIZATION_Corporation      34299 non-null  bool
 33  ORGANIZATION_Trust            34299 non-null  bool
 34  INCOME_AMT_0                  34299 non-null  bool
 35  INCOME_AMT_1-9999             34299 non-null  bool
 36  INCOME_AMT_10000-24999        34299 non-null  bool
 37  INCOME_AMT_100000-499999      34299 non-null  bool
 38  INCOME_AMT_10M-50M            34299 non-null  bool
 39  INCOME_AMT_1M-5M              34299 non-null  bool
 40  INCOME_AMT_25000-99999        34299 non-null  bool
 41  INCOME_AMT_50M+               34299 non-null  bool
 42  INCOME_AMT_5M-10M             34299 non-null  bool
 43  SPECIAL_CONSIDERATIONS_N      34299 non-null  bool
 44  SPECIAL_CONSIDERATIONS_Y      34299 non-null  bool
dtypes: bool(42), int64(3)
memory usage: 2.2 MB

In [11]:
# Split our preprocessed data into our features and target arrays
y=application_df["IS_SUCCESSFUL"].values
X=application_df.drop(columns="IS_SUCCESSFUL").values
# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
print(X_train_scaled.shape)

(27439, 44)

## Compile, Train and Evaluate the Model

In [14]:

# Define the model creation function
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])

    # Allow kerastuner to decide number of neurons in the first layer
    nn_model.add(tf.keras.layers.Dense(
        units=hp.Int('first_units', min_value=1, max_value=12, step=2),
        activation=activation,
        input_dim=44
    ))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(
            units=hp.Int('units_' + str(i), min_value=1, max_value=10, step=2),
            activation=activation
        ))

    # Add output layer
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

# Instantiate the tuner
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2,
    directory="my_dir",
    project_name="tune_model"
)

# Run the kerastuner search for best hyperparameters
fit_model=tuner.search(X_train_scaled, y_train, epochs=20, validation_data=(X_test_scaled, y_test))

# Display the search results
tuner.results_summary()

Trial 60 Complete [00h 00m 49s]
val_accuracy: 0.7349854111671448

Best val_accuracy So Far: 0.7349854111671448
Total elapsed time: 00h 21m 20s
Results summary
Results in my_dir/tune_model
Showing 10 best trials
Objective(name="val_accuracy", direction="max")

Trial 0059 summary
Hyperparameters:
activation: tanh
first_units: 9
num_layers: 3
units_0: 3
units_1: 9
units_2: 1
units_3: 3
units_4: 3
units_5: 1
tuner/epochs: 20
tuner/initial_epoch: 0
tuner/bracket: 0
tuner/round: 0
Score: 0.7349854111671448

Trial 0054 summary
Hyperparameters:
activation: tanh
first_units: 9
num_layers: 4
units_0: 7
units_1: 7
units_2: 1
units_3: 3
units_4: 1
units_5: 1
tuner/epochs: 20
tuner/initial_epoch: 7
tuner/bracket: 1
tuner/round: 1
tuner/trial_id: 0052
Score: 0.7345480918884277

Trial 0046 summary
Hyperparameters:
activation: tanh
first_units: 11
num_layers: 3
units_0: 3
units_1: 7
units_2: 1
units_3: 3
units_4: 7
units_5: 1
tuner/epochs: 20
tuner/initial_epoch: 7
tuner/bracket: 2
tuner/round: 2
tuner/trial_id: 0042
Score: 0.7342565655708313

Trial 0014 summary
Hyperparameters:
activation: tanh
first_units: 9
num_layers: 3
units_0: 9
units_1: 5
tuner/epochs: 7
tuner/initial_epoch: 3
tuner/bracket: 2
tuner/round: 1
units_2: 1
tuner/trial_id: 0002
units_3: 1
units_4: 5
units_5: 7
Score: 0.7339650392532349

Trial 0055 summary
Hyperparameters:
activation: tanh
first_units: 7
num_layers: 5
units_0: 7
units_1: 3
units_2: 3
units_3: 7
units_4: 1
units_5: 9
tuner/epochs: 20
tuner/initial_epoch: 7
tuner/bracket: 1
tuner/round: 1
tuner/trial_id: 0053
Score: 0.7338192462921143

Trial 0042 summary
Hyperparameters:
activation: tanh
first_units: 11
num_layers: 3
units_0: 3
units_1: 7
units_2: 1
units_3: 3
units_4: 7
units_5: 1
tuner/epochs: 7
tuner/initial_epoch: 3
tuner/bracket: 2
tuner/round: 1
tuner/trial_id: 0037
Score: 0.7336734533309937

Trial 0045 summary
Hyperparameters:
activation: tanh
first_units: 5
num_layers: 6
units_0: 5
units_1: 5
units_2: 5
units_3: 5
units_4: 1
units_5: 3
tuner/epochs: 7
tuner/initial_epoch: 3
tuner/bracket: 2
tuner/round: 1
tuner/trial_id: 0040
Score: 0.7336734533309937

Trial 0021 summary
Hyperparameters:
activation: relu
first_units: 5
num_layers: 2
units_0: 9
units_1: 7
units_2: 9
units_3: 5
units_4: 3
units_5: 1
tuner/epochs: 7
tuner/initial_epoch: 0
tuner/bracket: 1
tuner/round: 0
Score: 0.7333819270133972

Trial 0012 summary
Hyperparameters:
activation: relu
first_units: 7
num_layers: 1
units_0: 9
units_1: 5
units_2: 1
tuner/epochs: 7
tuner/initial_epoch: 3
tuner/bracket: 2
tuner/round: 1
tuner/trial_id: 0003
units_3: 1
units_4: 7
units_5: 1
Score: 0.7329446077346802

Trial 0016 summary
Hyperparameters:
activation: tanh
first_units: 9
num_layers: 3
units_0: 9
units_1: 5
tuner/epochs: 20
tuner/initial_epoch: 7
tuner/bracket: 2
tuner/round: 2
units_2: 1
tuner/trial_id: 0014
units_3: 1
units_4: 5
units_5: 7
Score: 0.7329446077346802

In [15]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'tanh',
 'first_units': 9,
 'num_layers': 3,
 'units_0': 3,
 'units_1': 9,
 'units_2': 1,
 'units_3': 3,
 'units_4': 3,
 'units_5': 1,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [16]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - 3ms/step - accuracy: 0.7350 - loss: 0.5522
Loss: 0.5521643757820129, Accuracy: 0.7349854111671448

In [20]:
# Export our model to HDF5 file
filepath = r"/content/AlphabetSoupCharity_optimized2.h5"
best_model.save(filepath)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [21]:
# List all files in /content/
!ls /content/
from google.colab import files

# Download the saved model file
files.download('/content/AlphabetSoupCharity_optimized2.h5')

AlphabetSoupCharity_optimized2.h5  my_dir  sample_data